<div>
  <h1 class="font-bold text-3xl">Dashboard</h1>
  <%# stimulus  %>
  <%# <div data-controller="hello"></div> %>
  <div id="point"></div>
  <div class="grid">
    <div class="sn ag fn flex  sm:grid mt-6 ">
      <div class="flex-initial w-128 tz tno bg-white bd rounded-sm border border-slate-200">
        <header class="vc vu cs ch">
          <h2 class="gh text-slate-800">Recently Orders</h2>
        </header>
        <div class="dk">
          <!-- Card content -->
          <!-- "Today" group -->
          <div>
            <header class="go gv gq hp rounded-sm gh dx">Today Orders</header>
            <ul class="nm">
              <!-- Item -->
              <li class="flex vi">
                <div class="uw flex items-center cs ch text-sm vr">
                  <div class="uw flex fe">
                    <div class="lo"><a class="gp text-slate-800 xd" href="#0">Nick Mark</a> mentioned <a class="gp text-slate-800" href="#0">Sara Smith</a> in a new post</div>
                    <div class="ub ls nq">
                      <a class="gp text-indigo-500 xh" href="#0">View<span class="hidden _z"> -&gt;</span></a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- Item -->
              <li class="flex vi">
                <div class="uw flex items-center cs ch text-sm vr">
                  <div class="uw flex fe">
                    <div class="lo">The post <a class="gp text-slate-800" href="#0">Post Name</a> was removed by <a class="gp text-slate-800 xd" href="#0">Nick Mark</a></div>
                    <div class="ub ls nq">
                      <a class="gp text-indigo-500 xh" href="#0">View<span class="hidden _z"> -&gt;</span></a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- Item -->
              <li class="flex vi">
                <div class="uw flex items-center text-sm vr">
                  <div class="uw flex fe">
                    <div class="lo"><a class="gp text-slate-800 xd" href="#0">Patrick Sullivan</a> published a new <a class="gp text-slate-800" href="#0">post</a></div>
                    <div class="ub ls nq">
                      <a class="gp text-indigo-500 xh" href="#0">View<span class="hidden _z"> -&gt;</span></a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- "Yesterday" group -->
          <div>
            <header class="go gv gq hp rounded-sm gh dx">Yesterday Orders</header>
            <ul class="nm">
              <!-- Item -->
              <li class="flex vi">
                <div class="uw flex items-center cs ch text-sm vr">
                  <div class="uw flex fe">
                    <div class="lo"><a class="gp text-slate-800 xd" href="#0">240+</a> users have subscribed to <a class="gp text-slate-800" href="#0">Newsletter #1</a></div>
                    <div class="ub ls nq">
                      <a class="gp text-indigo-500 xh" href="#0">View<span class="hidden _z"> -&gt;</span></a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- Item -->
              <li class="flex vi">
                <div class="uw flex items-center text-sm vr">
                  <div class="uw flex fe">
                    <div class="lo">The post <a class="gp text-slate-800" href="#0">Post Name</a> was suspended by <a class="gp text-slate-800 xd" href="#0">Nick Mark</a></div>
                    <div class="ub ls nq">
                      <a class="gp text-indigo-500 xh" href="#0">View<span class="hidden _z"> -&gt;</span></a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class=" flex-initial w-128 tz tni bg-white bd rounded-sm border border-slate-200">
        <header class="vc vu cs ch">
          <h2 class="gh text-slate-800">Top Visited Listings</h2>
        </header>
        <div class="dk">
          <!-- Table -->
          <div class="lf">
            <table class="ux ou">
              <!-- Table header -->
              <thead class="go gv gq hp rounded-sm">
                <tr>
                  <th class="dx">
                    <div class="gh gt">Source</div>
                  </th>
                  <th class="dx">
                    <div class="gh gn">Visitors</div>
                  </th>
                  <th class="dx">
                    <div class="gh gn">Revenues</div>
                  </th>
                  <th class="dx">
                    <div class="gh gn">Sales</div>
                  </th>
                  <th class="dx">
                    <div class="gh gn">Conversion</div>
                  </th>
                </tr>
              </thead>
              <!-- Table body -->
              <tbody class="text-sm gp le ln">
                <% Listing.all.each do |listing| %>
                  <!-- Row -->
                  <tr>
                    <td class="dx">
                      <a href="/listings/<%= listing.id %>"><%= listing.title %></a>
                    </td>
                    <td class="dx">
                      <div class="gn"><%= listing.visits %></div>
                    </td>
                    <td class="dx">
                      <div class="gn yt"><%= number_to_currency(listing.discountedTo)%></div>
                    </td>
                    <td class="dx">
                      <div class="gn"><%= number_to_currency(listing.discountedTo) %></div>
                    </td>
                    <td class="dx">
                      <div class="gn yv">1%</div>
                    </td>
                  </tr>
                <%end %>
                <!-- Row -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="display:flex;">
  <%= Category.count %>
</div>
