<div id="<%= dom_id state %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= state.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= state.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= state.category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Listing:</strong>
    <%= state.listing_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this state", state, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this state', edit_state_path(state), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
